*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
}

.logo{
    font-family: roboto;
    font-style: normal;
    font-weight: medium 500;
    font-size: 30px;
    line-height: 48px;
    /* or 160% */

    letter-spacing: -0.02em;

    color: #0A1B32;
    margin-top: 35px;
    margin-left: 87px;
}

.logo-dot{
    color: #FC569A;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li{
    margin-top: 48px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

.signinbtn{
    align-items: center;
    margin-top: 48px;
    margin-left: 752px;
    border: none;
    background: none;
}

.signupbtn{
    text-align: center;
    margin-top: 30px;
    margin-left: 71px;
    width: 100px;
    height: 59px;
    background-color: #FC569A;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.section1{
    width: 500px;
    height: 380px;
    margin-left: 150px;
}

.section2{
    margin-top: 208px;
    width: 600px;
    height: 400px;
    margin-left: 1000px;
    z-index: 1;
}

.maintitle{
    margin-top: 302px;
    color: #1B0A42;
    font-size: 72px;
    font-family: 'Ramaraja', serif;
    line-height: 76px;
}

.infotext{
    margin-top: 10px;
    color: #9A9A9A;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.learnmorebtn{
    width: 152px;
    height: 64px;
    border-radius: 6px;
    border: none;
    background-color: #FC569A;
    text-align: center;
    margin-top: 29px;
    color: white;
    font-size: 16px;
    font-weight: bold;

}